.wrapper {
    padding: 15px 0;
    .menu {
      display: flex;
      padding: 15px 0;
      .item{
        padding: 5px;
      }
    }
  }
  .alert{
    color: #e4332a;
  }
  .green{
    color: #2def7b;
  }
