.wrapper {
  display: flex;
}
.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.singleImage {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 400%;
  cursor: crosshair;
  &:hover .image{
    opacity: 0;
  }
}
.listImage {
  width: fit-content;
  flex: 0 0 20%;
  height: 700px;
  display: flex;
  flex-direction: column;
  width: 400px;
  .imageItem {
    width: 100%;
    height: 100%;
    cursor: pointer;
    &.active{
      position: relative; 
      &::before{
        opacity: 1;
      }
    }
    &:hover::before{
      opacity: 1;
    }
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff49;
      opacity: 0;
      transition: all 0.25s ease-in-out;
    }
  }
  
}
