.image{
    display: flex;
    .title{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 15px;
        letter-spacing: 5px;
        font-weight: 600;
        font-size: 3rem;
    }
}
.image img{
    width: 5rem;
    object-fit: contain;
}
.wrapper{
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(39, 39, 39, 0.348) 0px 2px 8px;
    justify-content: space-between;
    background-color: #ffff;
}
.menu{
    display: flex;
    .item{
        font-size: 1.5rem;
        padding: 35px;
    }
}
