.wrapper {
  width: fit-content;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 20px;
  margin: 0 auto;
  min-height: 608px;
  @media only screen and (max-width: 1280px){
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
  @media only screen and (max-width: 1024px){
    
    grid-template-columns: 50% 50%;
  }
  @media only screen and (max-width: 720px){
    width: 100%;
    grid-template-columns: 100%;
  }
}
.pagination{
  padding: 20px;
}
.container{
  position: relative;
  max-width: 960px;
}

.navigation{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .item{
    margin: 0 -30px;
    cursor: pointer;
    background-color: transparent;
	  border: 1px solid #d4b5a8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    color:#333;
    transition: all 0.3s ease-in-out;
    &:hover{
      background-color: var(--primary);
      color: #fff;
    }
  }
}